version: '1'

services:
  postgres:
    image: citusdata/citus:13.0
    container_name: bobobox_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgressql/data/pgdata
    volumes:
      - ./init:/docker-entrypoint-initdb.d:ro
    networks:
      - shared-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

networks:
  shared-network:
